@page
@using Microsoft.Extensions.Localization
@using SecondModule.Localization
@using SecondModule.Web.Pages.SecondModule
@model SecondModule.Web.Pages.SecondModule.IndexModel
@inject IStringLocalizer<SecondModuleResource> L

@{
}
<h1>SecondModule</h1>
<p>@L["SamplePageMessage"]</p>
